* {
    box-sizing: border-box;
}

body {
    background-image: url(photos/bg\ img.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
    font-family: "Poppins", sans-serif;
}

.mainbox {
    height: auto;
    width: 80%;
    max-width: 600px;
    border: 2px solid white;
    background-color: white;
    border-radius: 10px;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h3 i {
    color: rgb(255, 156, 173);
}

.text p {
    color: gray;
}

.text {
    text-align: center;
}

#addtask {
    background-color: rgb(255, 156, 173);
    color: white;
    border: none;
    border-radius: 3px;
}

.taskinput {
    border: 1px solid rgb(206, 198, 198);
    width: 90%;
    border-radius: 5px;
    margin: 0px auto;
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}

.textinput input {
    width: 70%;
}

#addtask:hover {
    background-color: rgb(214, 132, 146);
    cursor: pointer;
}

.task{
    display: flex;
    align-items: center;
    gap: 15px;
    width: 90%;
    margin: 10px auto;
    padding: 15px;
    border: 1px solid rgb(202,202,202);
    border-radius: 4px;
}

.task p{
    margin-right: auto;
}

.deletebtn{
    border: none;
    background-color: #ffb4b4;
    height: 40px;
    width: 40px;
    border-radius: 5px;
     color: rgb(213, 37, 37);
}

.task input:checked + p{ 
    color: gray;
    text-decoration: line-through;
}

.mainbox footer{
    width: 100%;
    background-color: rgb(247, 184, 243);
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 8px;
}

footer p{
    color: rgb(56, 56, 56);
}

.deletebtn:hover{
     background-color:  rgb(214, 151, 151);
     cursor: pointer;
}

